/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#leaderboard {
	padding: 0 0 0 0;
	font-family: Futura;
}

#members {
	font-family: Consolas, monospace;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
}

#author {
	/*display: block;*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    text-align: right;
}